.swiper {
  --add-bottom: 50px;
  padding-bottom: var(--add-bottom);
}
.swiper [class^="swiper-button-"] {
  top: calc(50% - var(--add-bottom) / 2);
}

.swiper .swiper-pagination-bullet {
  background-image: url("../assets/icons/bullet.svg");
  background-size: cover;
  border-radius: initial;
  width: 20px;
  height: 20px;
}

